<!DOCTYPE html>
<html>
<head>
  <title>SlideShow du boubou</title>

<body>
  <div id="slideshow">
  <%= image_tag("photo-1.png", :height=>352, :width=>470) %>
  <%= image_tag("IMG_1305.png", :height=>352, :width=>470) %>
  <%= image_tag("IMG_1349.png", :height=>352, :width=>470) %>
  <%= image_tag("IMG_1392.png", :height=>352, :width=>470) %>
  </div>

  <div id="test">
  <%= image_tag("IMG_1392.png", :height=>352, :width=>470) %>
  <%= image_tag("photo-1.png", :height=>352, :width=>470) %>
  <%= image_tag("IMG_1305.png", :height=>352, :width=>470) %>
  <%= image_tag("IMG_1349.png", :height=>352, :width=>470) %>
  </div>
</body>
</html>
